.picker-container {
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    
  }
 .desc-container {
    margin-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 15pt;
    margin-left: 15pt;
  }