.title { 
    /* height: 20em;
    width: 30em;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto; */
    padding: 20px;
    height:50em;
}

.start-date {
    pointer-events: none;
    cursor: default;
}