.eventbutton {
    float: right;
    position: relative;
    
}

.size{
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.fullCalendar {
    background-color: whitesmoke ;
    height: 150;
    width: 100;
    margin-left: 0%;
    
}