.organice__mtt_container {
    display: flex;
    flex-direction: column;


}

.organice__mtt-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.organice__mtt-heading h1 {
    align-items: center;
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
    padding-bottom: 25px;
}


.member-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: left;
    /* margin-top: 2rem; */
}

.organice__team{
    padding: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member{
    padding-inline: 25px;
}