.organice__info {
    display: flex;
    flex-direction: column;

    padding: 2rem;
}
.organice__info-feature {
    display: flex;
}

/* Customizing feature component as per needs */
.organice__info-feature .organice__features-container__feature {
    margin: 0;
}

/* Customizing feature component as per needs */
.organice__info-feature .organice__features-container_feature-text {
    max-width: 700px;
}

.organice__info-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 4rem 0 2rem;
}

.organice__info-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}

.organice__info-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.organice__info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}

/* Customizing feature component as per needs */
.organice__info-container .organice__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

/* Customizing feature component as per needs */
.organice__info-container .organice__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .organice__info-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .organice__info-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .organice__info-feature .organice__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .organice__info-feature .organice__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .organice__info-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .organice__info-container .organice__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}