* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Fira sans", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

#root > div {
  min-height: 100vh;
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 100%
  );
}


.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clop: text; /* THIS ALLOWS FOR DIFFERENT BROWSERS*/
  -webkit-text-fill-color: transparent; /* THIS ALLOWS FOR DIFFERENT BROWSERS*/
  padding: 50px;
}

.task-input {
  flex: 1 1 0%;
  background-color: rgb(31, 41, 55);
  color: #eee;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.btn_container {
  font-size: 1.125rem;
  font-weight: 700;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  cursor: pointer;
  transition: 0.4s;
}

.btn_container button {
  background-color: green;
}

/* TODO LIST CSS HERE */

.todo_page{
  height: 100%;
}

.todo {
  margin-top: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
  
}

.todo input {
  color: white;
  cursor: pointer;
  width: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-align: center;
}

.todo button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
}

#todo-list {
  max-width: 600px;
  margin: 2rem auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.todo-options {
  display: flex;
  min-width: 100px;
  flex-grow: 1;
  justify-content: end;
}

section.list {
  flex: 1;
}

.button_align {
  display: flex;
}

/* .home_button {
} */

@media screen and (max-width: 667px) {
  .task_container {
    width: 90%;
  }
  .task {
    margin-right: 0px;
  }
}

.content_todo {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 40px;
  height: 100vh;
}


/* title */
.title_todolist{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
}



/* Menu bar left side*/
.nav_menu{
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 1rem;
  font-size: 2rem;
  background-color: #060b26;
}

.menu_btn{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 100px;
}

.menu_btn a{
  text-decoration: none;
  color: #f5f5f5;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

/* currently not working */
.nav-text a:hover {
  background-color: #0084ff;
}