.right_container {
  min-height: 100vh;
  background-color: hsla(203, 80%, 67%, 0.637);
  flex-grow: 3;
  height: auto;
  margin-left: 40px;
  border-radius: 20px;
  width: 80%;
  /* margin-top: 80px; */
}

.gradient__text {
    background:var(--gradient-text);
    background-clip: text;
    -webkit-background-clop: text;        /* THIS ALLOWS FOR DIFFERENT BROWSERS*/
    -webkit-text-fill-color: transparent; /* THIS ALLOWS FOR DIFFERENT BROWSERS*/
    padding: 50px;
}

