.right_container {
  min-height: 100vh;
  flex-grow: 3;
  height: auto;
  margin-left: 50px;
  width: 80%;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
}
.gradient__text {
    background:var(--gradient-text);
    background-clip: text;
    -webkit-background-clop: text;        /* THIS ALLOWS FOR DIFFERENT BROWSERS*/
    -webkit-text-fill-color: transparent; /* THIS ALLOWS FOR DIFFERENT BROWSERS*/
    padding: 50px;
}

.listing-spacing {
  margin-left: 220px;
  margin-right: 50px;
  color: black;
}

.listing-bullets {
  padding: 40px;
  font-size: 20px;
}

.card-spacing {
  margin-top: 20px;
}

.italicize {
  font-style: italic;
}