/* .picture {
    position: absolute;
    margin: auto;
}
.button{
    margin: auto;
} */
.welcome{
    background-color: wheat;
    font-size: 35px;
    background:var(--gradient-text);
    background-clip: text;
    -webkit-background-clop: text;        /* THIS ALLOWS FOR DIFFERENT BROWSERS*/
    -webkit-text-fill-color: transparent; /* THIS ALLOWS FOR DIFFERENT BROWSERS*/
    padding: 20px;
}
.container{
    display: flex;
    border-radius: 25px;
    margin-right: 500px;
    margin-left: 500px;
    background-color: darkslateblue;
    align-items: center;
    flex-direction: column;
    gap: 40px
}
.avatar--container{
    margin-top: 20px;
    height: 200px;
    width: 200px;
    display: inline-block;
    border-radius: 195px;
    background-color: gainsboro;
    
}
.userinfo-container{
    size: 30px;

   
}
.password-container{
    margin-bottom: 30px;
}